<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../pictures/logo/logo3.png">
    <title>Simona's Travels</title>
    <link href="../css/bootstrap.css" rel="stylesheet">
  </head>
  <body background="../pictures/background/white_carbon.jpg">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-info">
      <a class="navbar-brand" href="../index.html">Simona's Travels</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="../index.html">Home <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../templates/about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../templates/travels.html">Travels</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../templates/contact.html">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
    <main role="main">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <img src="../pictures/pexels_image_world.jpg">
          <h1 class="display-3">Find your new destination...</h1>
          <p><b>Welcome to a Simona's Travel page!</b> Lets go and find where you would like to go next!</p>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <h2></h2>
            <h4>About this page</h4>
            <img src="../pictures/background/background.jpg" height="350px">
            <p>This is a page for you if you don't know where you would like to go next! </p>
            <p>Here you can read about some countries and maybe find what are you looking for. </p>
            <p>Dont forget to contact us! ;)</p>
          </div>
        <hr>
      </div> 
    </main>
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Travels brings happiness!</h5>
        <p class="card-text">Choose us to help you decide</p>
        <a href="../templates/contact.html" class="btn btn-info">Go somewhere</a>
      </div>
      <div class="card-footer text-muted">&copy; Simona's Travels 2022</div>
    </div>
  </body>
</html>
