<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../pictures/logo/logo3.png">
    <title>Simona's Travels</title>
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
  </head>
  <body background="../pictures/background/white_carbon.jpg">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-info">
      <a class="navbar-brand" href="index.html">Simona's Travels</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="./templates/index.html">Home <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./templates/about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./templates/travels.html">Travels</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./templates/contact.html">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
    <main role="main">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <div class="divider"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xl-11">
            <h2>Lithuania</h2>
            <img src="../pictures/countries/lithuania1.jpg" class="img-thumbnail">
            <p>Officially the Republic of Lithuania (Lithuanian: Lietuvos Respublika), is a country in the Baltic region of Europe. It is one of three Baltic states and lies on the eastern shore of the Baltic Sea. Lithuania shares land borders with Latvia to the north. </p>
            <h5>Lithuanian language</h5>
            <p>The Lithuanian language (lietuvių kalba) is the official state language of Lithuania and is recognized as one of the official languages of the European Union. There are about 2.96 million native Lithuanian speakers in Lithuania and about 0.2 million abroad. Lithuanian is a Baltic language, closely related to Latvian, although they are not mutually intelligible. It is written in an adapted version of the Roman script. Lithuanian is believed to be the linguistically most conservative living Indo-European tongue, retaining many features of Proto Indo-European. Lithuanian language studies are important for comparative linguistics and for reconstruction of Proto-Indo-European language. Lithuanian was studied by linguists such as Franz Bopp, August Schleicher, Adalbert Bezzenberger, Louis Hjelmslev, Ferdinand de Saussure, Winfred P. Lehmann, Vladimir Toporov and others.</p>
            <img src="../pictures/countries/lithuania.jpg" class="img-thumbnail">
            <h5>Arts and museums</h5>
            <p>The Lithuanian Art Museum was founded in 1933 and is the largest museum of art conservation and display in Lithuania. Among other important museums are the Palanga Amber Museum, where amber pieces comprise a major part of the collection, National Gallery of Art, presenting collection of Lithuanian art of the 20th and 21st century, National Museum of Lithuania presenting Lithuanian archaeology, history and ethnic culture. In 2018 two private museums were opened MO Museum devoted to modern and contemporary Lithuanian art and Tartle, exhibiting a collection of Lithuanian art heritage and artefacts.</p>
          </div>

        <hr>
      </div>
    </main>
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Travels brings happiness!</h5>
        <p class="card-text">Choose us to help you decide</p>
        <a href="../templates/contact.html" class="btn btn-info">Go somewhere</a>
      </div>
      <div class="card-footer text-muted">&copy; Simona's Travels 2022</div>
    </div>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
  </html>
